/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    margin: 90px auto;
    width: 50%;
}

/* TITLE */

#title{
    display: flex;
    margin-bottom: 30px;
    width:100%;
    justify-content: center;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    color: hsl(236, 13%, 42%);
}

/* MAIN BODY SECTION*/

.container{
    margin: 0 auto;
    border-radius: 9px;
    padding: 20px;
    height: 200px;
    overflow: auto;
    position: absolute;
    top: 35%;
    width: 50%;
    background-color: #f1efefcc;
}

form{
    display: flex;
    padding: 0 10px;
    border-radius: 4px;
    background-color: #fff;
}

form div{
    display: flex;
    align-items: center;
}

form div > div{
    padding: 0 5px;
}

#project{
    padding: 10px 10px;
    border-radius: 5px;
    width: 83%;
}

label input{
    width: 20px;
}

#changes{
    display: flex;
    justify-content: space-between;
}

/* MENU OPTION-BAR */

#option-bar{
    height: 35px;
}

.display{
    display: flex;
    justify-content: space-between;
}

.btn-a button{
    display: flex;
    margin: 0;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    color: rgb(44, 43, 43);
    padding: 8px 35px;
    background-color: hsl(235, 22%, 90%);
}

.btn-b button{
    display: flex;
    margin: 0;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    color: rgb(44, 43, 43);
    padding: 8px 16px;
    background-color: hsl(235, 22%, 90%);
}

.btn-b i{
    padding-left: 70px;
}

.display button:hover{
    cursor: pointer;
    color: rgb(207, 203, 203);
    background-color: rgb(97, 97, 197);
}

/* MAIN SECTION */

#menu.active{
    display: flex;
    margin: 45px auto;
    width: 68%;
    z-index: 1;
    opacity: 0;
    height: 260px;
    border-radius: 8px;
    color: hsl(236, 13%, 42%);
    animation-name: menu;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
    background-color: hsl(235, 22%, 90%);
}

@keyframes menu{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* OFF-SCREEN */

#box{
    margin: 0 auto;
    width: 100%;
}

#off-screen-menu-a{
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#off-screen-menu-a.active{
    display: flex;
    margin: 0 auto;
    height: 250px;
    opacity: 0;
    z-index: 1;
    cursor: default;
    pointer-events: auto;
    animation-name: off-screen-menu-a;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
    flex-direction: column;
}

@keyframes off-screen-menu-a{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#thing{
    margin: 20px;
    height: 170px;
}

#thing h1{
    font-size: 18px;
    margin-bottom: 18px;
}

label{
    font-size: 15px;
}

.same{
    margin-bottom: 20px;
}

input{
    margin-top: 3px;
    padding: 10px 15px;
    height: 30px;
    width: 100%;
    font-size: 17px;
}

input[type=text]:focus {
    border: 1px solid rgb(159, 212, 247);
  }

.down{
    display: flex;
    width: 32%;
    align-items: center;
    margin: 0 20px;
}

.down > div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.down button{
    border-radius: 5px;
    font-size: 13px;
    background-color: rgba(216, 216, 216, 0.89);
    color: rgb(44, 43, 43);
    background-color: #bbbbcc;
    padding: 8px 10px;
}

.down button:hover{
    cursor: pointer;
    color: rgb(207, 203, 203);
    background-color: rgb(97, 97, 197);
}

/* HAMBERGER SECTION*/

#hamburger{
    justify-content: center;
    position: absolute;
    top: 190px;
    left: 880px;
}

.ham-menu.active{
    opacity: 0;
    height: 15px;
    padding: 15px;
    width: 35px;
    border-radius: 5px;
    position: absolute;
    animation-name: ham-menu;
    animation-duration: 1s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
    background-color: hsl(235, 22%, 90%);
}

@keyframes ham-menu{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ham-menu span{
    height: 5px;
    width: 70%;
    background-color: rgb(153, 147, 147);
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu:hover{
    background-color: rgb(253, 72, 72);
    cursor: pointer;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(2){
    top: 75%;
}

.ham-menu span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu span:nth-child(2){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* RIGHT LIST - SECTION */

#right-list{
    display: flex;
    height: 65px;
    width: 9.5%;
    line-height: 20px;
    margin: 2px auto;
    top: 190px;
    left:895px;
    position: absolute;
    z-index: 1;
    justify-content: flex-end;
}

.status{
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

.status.active{
    display: flex;
    opacity: 0;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    animation-name: status;
    z-index: 1;
    pointer-events: auto;
    animation-duration: 1s;
    animation-delay: .1s;
    animation-fill-mode: forwards;
    background-color: hsl(235, 22%, 90%);
}

@keyframes status{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.all:hover{
    padding: 0 57px;
    background-color: gray;
    border-radius: 5px;
}

.status div:hover:nth-child(2){
    padding: 0 31px;
    background-color: gray;
    border-radius: 5px;
}

.status div:hover:nth-child(3){
    padding: 0 27px;
    background-color: gray;
    border-radius: 5px;
}