*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    margin: 90px auto;
    width: 50%;
}

#title{
    display: inline-block;
    height: 70px;
    position: relative;
    left: 35%;
    font-size: 50px;
    font-weight: bold;
    color: hsl(236, 13%, 42%);
}

#menu{
    height: 60px;
    justify-content: center;
    align-items: center;
    color: hsl(236, 13%, 42%);
}

.display{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}



.btn-a button{
    border-radius: 11px;
    font-size: 23px;
    padding: 10px 40px;
    color: #fff;
    background-color: #a2a2fd;

}

.btn-b button{
    font-size: 23px;
    padding: 10px 50px;
    border-radius: 11px;
    color: #fff;
    background-color: #a2a2fd;
}

/* Off- screen */

.off-screen-menu-a{
    display: flex;
    height: 400px;
    margin-top: 50px;
    width: 70%;
    position: relative;
    left: 150px;
    border-radius: 15px;
    /* transition: .8s ease; */
    background-color: hsl(234, 50%, 96%);
}

.action{
    margin: 20px;
    width: 80%;
}

.action h1{
    margin-bottom: 30px;
}

label{
    font-size: 23px;
}

.same{
    margin-bottom: 30px;
}


/* border: 1.5px solid rgb(71, 223, 147); */

input{
    margin-top: 15px;
    height: 50px;
    width: 117%;
    font-size: 25px;
}

.down{
    display: inline-block;
    height: 50px;
    width: 55%;
}

.down > div{
    display: flex;
    justify-content: space-between;
}

.down button{
    border-radius: 5px;
    font-size: 20px;
    color: rgba(105, 98, 98, 0.719);
    background-color: rgba(216, 216, 216, 0.89);
    padding: 15px 40px;
}

.down button:hover{
    cursor: pointer;
    color: rgb(207, 203, 203);
    background-color: rgb(97, 97, 197);
}

